@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;500;600;700;800&family=Roboto+Slab:wght@100;200;300;600;700;900&display=swap');
:root{
  --maincolor: #64bcf4;
  --hovercolor: #5bacdf;
  --background-color: #eff5f8;
  --darkone: #312f3a;
  --darktwo: #45424b;
  --lightone: #817d7d;
  --lighttwo: #aaa;
}

*, 
*::before, 
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
}

img{
  width: 110%;
}

a {
  text-decoration: none;
}

.big-wrapper{
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container{
  position: relative;
  background-color: var(--background-color) ;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10; 
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img{
  width: 300px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.links ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.links a{
  color: var(--lighttwo);
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover{
  color: var(--hovercolor);
  transform: scale(1.05);
}

.btn{
  display: inline-block;
  padding: 1.0rem 2.0rem ;
  color: #fff !important;
  background-color: var(--maincolor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn:hover{
  background-color: var(--hovercolor);
  transform: scale(1) !important;
}

.showcase-area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.big-title{
  font-size: 1.4rem;
  color: var(--darkone);
  text-transform: capitalize;
  line-height: 1.4;
}

.text{
  color: var(--lightone);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
}

.person{
  width: 85%;
  transform: translate(15%, 25px);
}

.footerbtn{
  display: inline-block;
  padding: 0.07rem 0.09rem ;
  color: #fff !important;
  background-color: var(--maincolor);
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}
